body {
    background-color: rgb(255, 255, 255);
    background-image: url(background.jpg);
    background: ;
}

h1 {
    color: rgb(5, 1, 1);
}

#p1 {
    background-color: rgb(78, 77, 77);
    color: rgb(255, 255, 255);
}

#p2 {
    background-color: rgb(103, 90, 90);
    color: rgb(253, 245, 245);
    border-style: outset;
    border-width: 5px;
    border-color: rgb(7, 7, 7);
}